@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.sidebar {
  background-color: #a08c6d;
}

.block {
  display: block;
}

/* Reset CSS */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
}

body {
  font-size: 14px;
  line-height: 1.4;
  margin: 0px;
  margin-bottom: 30px;
  background-color: #ffffff;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  padding: 0px;
  list-style: none;
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

.oh {
  overflow: hidden;
}

.L {
  float: left;
}

.R {
  float: right;
}

.sp {
  display: none;
}

.pr {
  position: relative;
}

#menu {
  display: none;
}

.flex {
  flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}
.flex-sb {
  flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  width: 96%;
  max-width: 900px;
  margin: 0 auto;
}

@media (max-width: 750px) {
  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  .wrapper {
    max-width: 94%;
  }
}
