// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.parent {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
}

.child1,
.child2 {}

.child1 {
  width: 33%;
  height: auto;
}

.child2 {
  width: 67%;
  height: auto;
}

table {
  width: 100%;
}
