// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.parent {
  overflow: hidden;
}

.child1,
.child2 {}

.child1 {
  flex: 1;
  height: auto;
}

.child2 {
  flex: 2;
  height: auto;
}
