// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.parent {
  overflow: hidden;
  margin-right: -20px;
}
.child1,
.child2 {
  float: left;
  margin-right: 20px;
}

.child1{
  display: inline-block;
  width: calc(100% - 830px);
  height: 600px;
  vertical-align: top;
}

.child2{
  display: inline-block;
  width: 700px;
  height: 600px;
  margin-right: 30px;
}
