<%# このページいらないかも！！ %>
<%# そのクエストの見るべき動画の一覧！ %>
  <% @quests.each do |quest| %>
    <% quest.contents.each do |content| %>
      <tr>
        <td><%= content.youtube_url %></td>
        <%= link_to user_quest_content_path(current_user, quest, content), target: :_blank do %>
          <img class="lazyloaded" src="https://img.youtube.com/vi/<%= content.youtube_url.gsub("https://www.youtube.com/watch?v=","") %>/hqdefault.jpg">
        <% end %>
      </tr>
    <% end %>
  <% end %>
