<%# そのクエストの見るべき動画の一覧！ %>
  <% @quests.each do |quest| %>
    <% quest.contents.each do |content| %>
      <tr>
        <td><%= content.title %></td>
        <td><%= content.youtube_url %></td>
        <%= link_to quest_content_path(quest,content), target: :_blank do %>
          <img class="lazyloaded" src="https://img.youtube.com/vi/m34DPnRUfMU/hqdefault.jpg">
        <% end %>
      </tr>
    <% end %>
  <% end %>
