<header>
  <div>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to 'Home',user_path(current_user) %></li>
        <li><%= link_to 'logout', logout_path, method: :delete %></li>
      <% end %>
    </ul>
  </div>
</header>
